<div class="certifications__content">

    <div class="certifications__content__title">
        <h1>Certifications</h1>
        <a href="#">See More</a>
    </div>

    
    <div class="certifications__content__certifications__content">
        <a href="#">
            <div class="certifications__content__certifications">
                <div class="certifications__content__certifications__photo">
                    <img src="../../../assets/CERTIFIED.webp" alt="">
                </div>
                <div class="certifications__content__certifications__infos">
                    <h1>Dominando Algoritmos com Desafios de Código Java</h1>
                    <p>by: Digital Innovation One</p>
                    <div class="certifications__content__certifications__infos__techs">
                        <ul>
                            <li>JAVA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
        <a href="#">
            <div class="certifications__content__certifications">
                <div class="certifications__content__certifications__photo">
                    <img src="../../../assets/CERTIFIED.webp" alt="">
                </div>
                <div class="certifications__content__certifications__infos">
                    <h1>Dominando Algoritmos com Desafios de Código Java</h1>
                    <p>by: Digital Innovation One</p>
                    <div class="certifications__content__certifications__infos__techs">
                        <ul>
                            <li>JAVA</li>
                        </ul>
                    </div>
                </div>
            </div>
        </a>
    </div>
    

</div>

