.apresentation__content{
  background-image: url(../../../assets/bggif.gif);
  background-repeat: no-repeat;
	background-size: 100vw;
}

.apresentation__content a{
  text-decoration: none;
}

.apresentation__content__label{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100vw;
  height: 100vh;
  color: aliceblue;
  backdrop-filter: blur(10px);
  animation: bgFade 3s ease-in-out;
}

.apresentation__content__info{
  font-size: 28px;
  text-shadow: 3px 3px 2px black;
  width:50%;
  margin: 0px;
  padding: 0 5%;
  animation: moveToLeft 2s backwards;
  animation-delay: 2000ms;
}

.apresentation__content__image{
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 0px;
  padding: 0px;
  animation: moveToRight 2s backwards;
  animation-delay: 2000ms;
}

.apresentation__content__image img{
  background-image: url(../../../assets/shape-gradient.png);
  background-repeat: no-repeat;
}

.apresentation__content__image img{
  width: 85vh;
}

.blink {
  color: rgb(207, 207, 207);
  font-size: 20px;
  display: flex;
  justify-content: center;
  padding-top: 30px;
  animation: blink 1.5s steps(1, end) infinite;
}

@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes moveToLeft {
  0% {
    transform: translateX(-1400px);
    opacity: 0;
  }
  100% {
    transform: translateX(0px);
    opacity: 10;
  }
}

@keyframes moveToRight {
  0% {
    transform: translateX(800px);
    opacity: 0;

  }
  100% {
    transform: translateX(0px);
    opacity: 10;
  }
}

@keyframes bgFade {
  0% {
    backdrop-filter: blur(0px);

  }
  100% {
    backdrop-filter: blur(10px);
  }
}
