<a routerLink="content">
<div class="apresentation__content__background">
  <img src="../../../assets/bggif.gif" alt="">
</div>

<div class="apresentation__content">

  <div class="apresentation__content__info">
    <h1>Olá, sou o Thiago Reis de Sousa</h1>
    <hr>
    <br>
    <p>Sou graduado em análise e desenvolvimento de sistemas e tenho como objetivo atuar na área de desenvolvimento de sistemas e me tornar um programador especialista Fullstack para isto estou tenho estudado e colocado em prática projetos realizados utilizando algumas tecnogias como Java, Springboot, Javascript, Angular, SQL HTML E CSS e outras linguagens afim de conhecimento, porém com foco no desenvolvimento Angular / Java.</p>
  </div>

  <div class="apresentation__content__image">
    <img src="../../../assets/photo.png" alt="">
  </div>
</div>
</a>
