<div class="apresentation__content">
  <a routerLink="content">
    <div class="apresentation__content__label">
      <div class="apresentation__content__info">
        <h1>Olá, sou o Thiago Reis de Sousa</h1>
        <hr>
        <br>
        <p>Sou graduado em análise e desenvolvimento de sistemas e tenho como objetivo atuar na área de desenvolvimento de sistemas e me tornar um programador especialista Fullstack para isto tenho estudado e colocado em prática projetos realizados utilizando algumas tecnogias como Javascript, NodeJS, HTML, CSS, Rest API's, Angular, React, React Native, SQL, AWS e outras tecnologias com foco no desenvolvimento Fullstack.</p>
        <p>
          <span class="blink">(Click anywhere to continue👆)</span>
        </p>
      </div>

      <div class="apresentation__content__image">

        <img src="../../../assets/photo.png" alt="">
      </div>
    </div>
  </a>
</div>
