<div class="projects__content">

    <div class="projects__content__title">
        <h1>Projects</h1>
        <a href="#">See More</a>
    </div>

    <div class="projects__content__projects__content">
        
        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/ryunews.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>Project-RyuNews</h1>
                </div>
                <p>RyuNews is a functional blog web application, developed using Angular and using the tools that the framework itself offers.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/portfolio.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>
                        Project-myPersonalLandingPage
                        </h1>
                </div>
                <p>This repository aims to store the code files developed by me for the creation of my first personal landing page.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>JAVASCRIPT</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/ryutech.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>Project-RyutechComputers</h1>
                </div>
                <p>This repository aims to document the website developed with Angular throughout the Capgemini Start Program training Angular module.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/ryunews.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>Project-RyuNews</h1>
                </div>
                <p>RyuNews is a functional blog web application, developed using Angular and using the tools that the framework itself offers.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/portfolio.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>
                        Project-myPersonalLandingPage
                        </h1>
                </div>
                <p>This repository aims to store the code files developed by me for the creation of my first personal landing page.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>JAVASCRIPT</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>

        <div class="projects__content__projects">
            <div class="projects__content__projects__photo">
                <img src="../../../assets/ryutech.png" alt="">
            </div>
            <div class="projects__content__projects__infos">
                <div class="projects__content__projects__infos__title">
                    <img src="../../../assets/pasta.png" alt="">
                    <h1>Project-RyutechComputers</h1>
                </div>
                <p>This repository aims to document the website developed with Angular throughout the Capgemini Start Program training Angular module.</p>
                <div class="projects__content__projects__infos__techs">
                    <ul>
                        <li>ANGULAR</li>
                        <li>HTML</li>
                        <li>CSS</li>
                    </ul>
                </div>
            </div>
        </div>
    
    </div>
    

</div>