<div class="projects__content">

    <div class="projects__content__title">
        <h1>Projects</h1>
        <a href="#">See More</a>
    </div>

    <div class="projects__content__projects__content">

      <app-card-project
        photo="../../../../assets/ryunews.png"
        name="RyuNews"
        description="RyuNews is a functional blog web application, developed using Angular and using the tools that the framework itself offers."
        repository="https://project-ryunews.netlify.app"
      ></app-card-project>

      <app-card-project
        photo="../../../../assets/pokedex.png"
        name="PokeDéx"
        description="Exploring the Pokémon world by consuming a REST API to create an amazing Pokédex!"
        repository="https://thiagopokedex.netlify.app/index.html"
      ></app-card-project>

      <app-card-project
        photo="../../../../assets/ryutech.png"
        name="RyuTech"
        description="This repository aims to document the website developed with Angular throughout the Capgemini Start Program training Angular module"
        repository="https://thiagoreis9.github.io/Project-RyutechComputers"
      ></app-card-project>

      <app-card-project
        photo="../../../../assets/todoapp.png"
        name="TodoApp"
        description="Application for managing projects and the tasks involved in these projects. To solve the issue of organizing tasks for one or several projects."
        repository="https://github.com/Thiagoreis9/Project-TodoApp"
      ></app-card-project>

      <app-card-project
        photo="../../../../assets/easycart.png"
        name="EasyCart"
        description="EazyCart, se trata de um projeto elaborado por Thiago Reis de Sousa e Vinicius Oliveira Sousa."
        repository="https://github.com/Thiagoreis9/Project-EasyCart"
      ></app-card-project>

    </div>


</div>
