<div class="cardInformations__content">
  <div class="cardInformations__content__infos">
    <ul>

        <li>
          <img src="../../../assets/map-pin.svg" alt="" srcset="">
          <p>Brazil - Brasília/DF</p>
        </li>


        <li>
          <img src="../../../assets/briefcase.svg" alt="" srcset="">
          <p>Open to work!</p>
        </li>

      <a href="https://github.com/Thiagoreis9" target="_blank">
        <li>
          <img src="../../../assets/github.svg" alt="" srcset="">
          <p>Thiagoreis9</p>
        </li>
      </a>
      <a href="https://www.linkedin.com/in/thiagoreis9/" target="_blank">
        <li>
          <img src="../../../assets/linkedin.svg" alt="" srcset="">
          <p>Thiago Reis</p>
        </li>
      </a>
      <a href="https://www.instagram.com/thiago.ryuzaki/" target="_blank">
        <li>
          <img src="../../../assets/instagram.png" alt="" srcset="">
          <p>@thiago.ryuzaki</p>
        </li>
      </a>
      <a href="https://api.whatsapp.com/send?phone=5561995650104&text=Olá%20Thiago" target="_blank">
        <li>
          <img src="../../../assets/whatsapp.png" alt="" srcset="">
          <p>(61) 9 9565-0104</p>
        </li>
      </a>
      <a href="mailto:reist36@gmail.com" target="_blank">
        <li>
          <img src="../../../assets/mail.svg" alt="" srcset="">
          <p>reist36@gmail.com</p>
        </li>
      </a>
    </ul>
  </div>
</div>
